<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="../static/styles/about.css" />
  </head>
  <body>
      <br>
      <div class="head">
          <h1>About Us</h1>
      </div>
      <br>
    <div class="container">
      <div class="card">
        <div class="content">
          <h2>T1</h2>
          <h3>Rupantar Borphukan</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus
            molestiae sit sunt. Beatae laborum, numquam mollitia recusandae esse
            inventore, veritatis aperiam aliquid ratione.
          </p>
          <a href="##">Read More</a>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2>T2</h2>
          <h3>Partha Pratim Deka</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus
            molestiae sit sunt. Beatae laborum, numquam mollitia recusandae esse
            inventore, veritatis aperiam aliquid ratione.
          </p>
          <a href="##">Read More</a>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2>T3</h2>
          <h3>Suman Das</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus
            piciatis aspernatur amet consectetur adipisic
            inventore, veritatis aperiam aliquid ratione.
          </p>
          <a href="##">Read More</a>
        </div>
      </div>
    </div>


    <script type="text/javascript" src="../static/scripts/vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card"),{
		max: 25,
		speed: 400, glare:true, "max-glare":0.5, });
    </script>
  </body>
</html>
