<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SuperNova</title>
    <link rel="stylesheet" href="../static/styles/main_style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="../static/scripts/main_script.js"></script>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
    {%for category,message in messages%}
    <div class="flash_msg" id="flash_msg" onclick="flash_click()">
        {{message}}
    </div>
    {%endfor%}
    {%endif%}
    {%endwith%}
    <div class="bg">
      <header>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg " style="padding-top: 15px;">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><img src="../static/img/LOGO.png" alt="logo" id="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navs">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/meal/1">Your Meal</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/items">Lost/Found</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/clean">Cleanliness</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
      </header>
      <main>
        <div class="found-recently">
          <!-- Items Lists we have found  -->
          <div class="heading">
            <h1>Few Discovered Items</h1>
          </div>
          <div class="buletin">
            <ul class="glass-box">
              <li class="found-items"><img class="found-pic" src="../static/img/found-1.jpg" alt=""><div class="item-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, iusto nostrum! Et.</div></li>
              <li class="found-items"><img class="found-pic" src="../static/img/found-1.jpg" alt=""><div class="item-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, iusto nostrum! Et.</div></li>
              <li class="found-items"><img class="found-pic" src="../static/img/found-1.jpg" alt=""><div class="item-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, iusto nostrum! Et.</div></li>
              <li class="found-items"><img class="found-pic" src="../static/img/found-1.jpg" alt=""><div class="item-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, iusto nostrum! Et.</div></li>
              <li class="found-items"><img class="found-pic" src="../static/img/found-1.jpg" alt=""><div class="item-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, iusto nostrum! Et.</div></li>
              <li class="found-items"><img class="found-pic" src="../static/img/found-1.jpg" alt=""><div class="item-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, iusto nostrum! Et.</div></li>
            </ul>
          </div>
        </div>
        <div class="parallax"></div>
        <div class="food-info Lost-form">
          <button class="order_tab items-tab" id="lost" onclick="lost()">Lost</button><button id="found" class="order_tab items-tab" onclick="found()">Found</button>
            <div id="heads"><h2>Lost your wallet?</h2>
            <h5>Don't mind, we got u covered</h5>
            </div>

            <form id="inpts" class="lost-form" action="/items" method="post">
                <input type="text" placeholder="Your Name" required>
                <input type="number" placeholder="Your Scholar-Id" required>
                <input type="text" placeholder="Authentication Code" required>
                <input type="number" placeholder="Phone Number" required>
                <input type="text" placeholder="Your Item" required>
                <input type="text" placeholder="Place" required>
                <input type="text" id="desc" placeholder="Description" required>
                <button class="order">Report Now</button>
            </form>
            <div class="img"><img class="lost-img" id="meal-img" src="../static/img/lost-image.png" alt=""></div>
        </main>
      <!-- footer -->
      <footer class="footer" id="footer">
        <div id="handles">
          <a href="https://www.linkedin.com/in/rupantar-borphukan-25a87b227/" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="rupantar-borphukan" height="30" width="40" /></a>
          <a href="https://www.facebook.com/profile.php?id=100011346334783" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/facebook.svg" alt="Rupantar Borphukan" height="30" width="40" /></a>
          <a href="https://www.instagram.com/rupantar_b12/" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg" alt="rupantar_b12" height="30" width="40" /></a>
          <a href="https://twitter.com/RupantarB" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/twitter.svg" alt="RupantarB" height="30" width="40" /></a>
      </div>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-instagram"></a>
        <div class="copyright">
          Copyright ©SuperNova 2022. All rights reserved
        </div>
      </footer>

    <script>
        function openCity(cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  document.getElementById(cityName).style.display = "block";
}

function found(){
  var inpt = document.getElementById('inpts')
  var hs = document.getElementById('heads')
  var imgs = document.getElementById('meal-img')
  var btn_track = document.getElementById('found')
  var btn_place = document.getElementById('lost')
  btn_track.style.background = '#00804496'
  btn_place.style.background = 'rgba(11, 206, 161, 0.08)'
  console.log(inpt);
  imgs.style.top = '220px'
  hs.innerHTML = `<h2>Found a key?</h2>
            <h5>Don't mind, u can report it here.</h5>`
  inpt.innerHTML = `<input type="text" placeholder="Your Name" required>
  <input type="number" placeholder="Your Scholar-Id" required>
  <input type="text" placeholder="Authentication Code" required>
  <input type="number" placeholder="Phone Number" required>
  <input type="text" placeholder="Your Item" required>
  <input type="text" placeholder="Place" required>
  <input type="number" placeholder="Expected Reward (in ₹)" >
  <input type="text" id="desc" placeholder="Description" required>
  <button class="order">Report Now</button>`
  }


function lost(){
  var inpt = document.getElementById('inpts')
  var hs = document.getElementById('heads')
  var imgs = document.getElementById('meal-img')
  var btn_track = document.getElementById('found')
  var btn_place = document.getElementById('lost')
  btn_place.style.background = '#00804496'
  btn_track.style.background = 'rgba(11, 206, 161, 0.08)'
  console.log(inpt);
  imgs.style.top = '225px'
  hs.innerHTML = `<h2>Lost your wallet?</h2>
            <h5>Don't mind, we got u covered</h5>`
  inpt.innerHTML = `<input type="text" placeholder="Your Name" required>
                <input type="number" placeholder="Your Scholar-Id" required>
                <input type="text" placeholder="Authentication Code" required>
                <input type="number" placeholder="Phone Number" required>
                <input type="text" placeholder="Your Item" required>
                <input type="number" placeholder="Reward (in ₹)" >
                <input type="text" id="desc" placeholder="Description" required>
                <button class="order">Report Now</button>`
}
    </script>
  </body>
</html>
