<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SuperNova</title>
    <link rel="stylesheet" href="../static/styles/main_style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
      />
      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous">
    </script>
    <div id="night">
    </div>
    <script src="../static/scripts/main_script.js"></script>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
    {%for category,message in messages%}
    <div class="flash_msg" id="flash_msg" onclick="flash_click()">
        {{message}}
    </div>
    {%endfor%}
    {%endif%}
    {%endwith%}
    <div class="bg">
      <header>

        <nav class="navbar navbar-expand-lg " style="padding-top: 15px;">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><img src="../static/img/LOGO.png" alt="logo" id="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navs">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/meal/1">Your Meal</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/items">Lost/Found</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/clean">Cleanliness</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
      </header>
      <main>


          <div class="heading"><h1>Order your canteen meal</h1></div>
        <div class="food-info">
            <button class="order_tab" id="place" onclick="place_order()">Place</button><button id="track" class="order_tab" onclick="track_order()">Track</button>
            <h4 id="order_track_food">Order Food</h4>
            {% if form_id == '2' %}
            <div id="inpts_enclo">
            {% if ispost == '1'%}
            <style>
              #order_code{
                width: 45%;
              }
            </style>
            <form action="" method="post">
              <h2 id="order_code">{{msg}}</h2>
            </form>
            {% else %}
            <style>
              #inpts{
                height:281px;
                margin: 131px 0px;
              }
            </style>
            <form id="inpts" action="/meal/2" method="post">
            <input type="text" name="order_id" placeholder="Your Order-Id" required>
                <button class="order">Track Order</button>
                </form>
                {%endif%}
                </div>
            {% else %}
            <div id="inpts_enclo">
              <form id="inpts" action="/meal/1" method="post">
            {% if order_code == 0 %}
                <input type="text" placeholder="Name" required>
                <input type="number" name="sc_id" placeholder="Scholar-Id" required>
                <input type="text" name="conf_code" placeholder="Authentication Code" required>
                <input type="text" placeholder="Food" required>
                <input type="number" placeholder="Phone Number" required>
                <input type="text" placeholder="Note for the mess">
                <button class="order">Place Order</button>
              {% else %}
                <h2 id="order_code">Your Order Code is: {{order_code}}</h2>
              {% endif %}
            </form>
          </div>  
          {%endif%}
            <div class="img"><img id="meal-img" src="../static/img/meal-image.png" alt=""></div>
        </main>
      <!-- footer -->
      <footer class="footer" id="footer">
        <div id="handles">
          <a href="https://www.linkedin.com/in/rupantar-borphukan-25a87b227/" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="rupantar-borphukan" height="30" width="40" /></a>
          <a href="https://www.facebook.com/profile.php?id=100011346334783" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/facebook.svg" alt="Rupantar Borphukan" height="30" width="40" /></a>
          <a href="https://www.instagram.com/rupantar_b12/" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg" alt="rupantar_b12" height="30" width="40" /></a>
          <a href="https://twitter.com/RupantarB" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/twitter.svg" alt="RupantarB" height="30" width="40" /></a>
      </div>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-instagram"></a>
        <div class="copyright">
          Copyright ©SuperNova 2022. All rights reserved
        </div>
      </footer>
    <script>
        function openCity(cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  document.getElementById(cityName).style.display = "block";
}

function track_order(){
  var inpt = document.getElementById('inpts_enclo')
  var btn_track = document.getElementById('track')
  var btn_place = document.getElementById('place')
  btn_track.style.background = '#00804496'
  btn_place.style.background = 'rgba(11, 206, 161, 0.08)'
  console.log(inpt);
  inpt.style.height = '281px'
  inpt.style.margin = '131px 0px'
  document.getElementById('order_track_food').innerHTML = 'Track Food'
  inpt.innerHTML = `{% if ispost == '1'%}
            <style>
              #order_code{
                width: 45%;
              }
            </style>
            <form action="" method="post">
              <h2 id="order_code">{{msg}}</h2>
            </form>
            {% else %}
            <style>
              #inpts{
                height:281px;
                margin: 131px 0px;
              }
            </style>
            <form id="inpts" action="/meal/2" method="post">
            <input type="text" name="order_id" placeholder="Your Order-Id" required>
                <button class="order">Track Order</button>
                </form>
                {%endif%}`
  // inpt.innerHTML = `<input type="text" placeholder="Your Order-Id" required>
  //               <button class="order">Track Order</button>`
}
function place_order(){
  var inpt = document.getElementById('inpts_enclo')
  var btn_track = document.getElementById('track')
  var btn_place = document.getElementById('place')
  btn_place.style.background = '#00804496'
  document.getElementById('order_track_food').innerHTML = 'Order Food'
  btn_track.style.background = 'rgba(11, 206, 161, 0.08)'
  console.log(inpt);
  inpt.style.height = 'unset'
  inpt.style.margin = '0px'
  inpt.innerHTML = `<form id="inpts" action="/meal/1" method="post">
            {% if order_code == 0 %}
                <input type="text" placeholder="Name" required>
                <input type="number" name="sc_id" placeholder="Scholar-Id" required>
                <input type="text" name="conf_code" placeholder="Authentication Code" required>
                <input type="text" placeholder="Food" required>
                <input type="number" placeholder="Phone Number" required>
                <input type="text" placeholder="Note for the mess">
                <button class="order">Place Order</button>
              {% else %}
                <h2 id="order_code">Your Order Code is: {{order_code}}</h2>
              {% endif %}
            </form>`
}
    </script>
  </body>
</html>
